@{
    ViewData["Title"] = "Home Page";
}
<html>
<body id="page-top">


    <!-- Header -->
    <header class="masthead">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                <h1 class="mx-auto my-0 text-uppercase">Gaming Catalog</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">Free Gaming Catalog website created by Semir Baldzhiev, Semir Karaahmedov, Samina Demirova, Iveta Govedarova and Beshir Mollov.</h2>
                <a class="btn btn-primary js-scroll-trigger" asp-controller="Games" asp-action="Index">Check out our catalog</a>
            </div>
        </div>
    </header>


    <!-- Projects Section -->
    <section id="projects" class="projects-section bg-light">
        <div class="container">

            <!-- Featured Project Row -->
            <div class="row align-items-center no-gutters mb-4 mb-lg-5">
                <div class="col-xl-8 col-lg-7">
                    <img class="img-fluid mb-3 mb-lg-0" src="~/img/Untitled.png" alt="">
                </div>
                <div class="col-xl-4 col-lg-5">
                    <div class="featured-text text-center text-lg-left">
                        <h4>About</h4>
                        <p class="text-black-50 mb-0">
                            Our Gaming Catalog website is an online catalog where you can find all kinds of video game genres and platforms.
                            The main purpose of the website is for users to find what game they are looking for and to be able to edit information about given game if there is some misinformation or to add a new game to the list.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="contact" class="contact-section bg-black">
        <div class="container">

            <div class="row">

                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Address</h4>
                            <hr class="my-4">
                            <div class="small text-black-50">23 Andrey Sakharov Blvd. 1784 Mladost 1, Sofia</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-envelope text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Email</h4>
                            <hr class="my-4">
                            <div class="small text-black-50">
                                <a href="#">gamingcatalog@gmail.com</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-mobile-alt text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Phone</h4>
                            <hr class="my-4">
                            <div class="small text-black-50">202-555-0131</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="social d-flex justify-content-center">
                <a href="#" class="mx-2">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#" class="mx-2">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#" class="mx-2">
                    <i class="fab fa-github"></i>
                </a>
            </div>

        </div>
    </section>

    
</body>
</html>


